.drawer-overlay {
  width: 0px;
  height: 0px;
  overflow: hidden;
  outline: none;
  position: absolute;

  &.active {
    position: fixed;
    inset: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.64);
    transition: opacity 300ms ease-out 0s;
    z-index: 100;
  }
}

.drawer__wrapper {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 430px;
  background: rgb(243, 243, 247);
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.5, 1, 0.5, 1);
  transform: translateX(430px);
  z-index: 1000;

  &.active {
    transform: translateX(0);
  }

  @media (max-width: 500px) {
    width: 100%;
  }
}

.drawer__wrapper {
}
.drawer__button {
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  position: absolute;
  background: none;
  width: 25px;
  height: 25px;
  top: calc(50% - 12px);
  left: -48px;
  transition: transform 500ms ease 0s;

  &:hover {
    transform: scale(1.1) rotate(180deg);
  }
}
.drawer__content {
}
.drawer__header {
  padding: 0px 16px;
}
.drawer__body {
}
.drawer__footer {
}

.empty-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.empty .empty-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}
.empty-image {
  margin-bottom: 20px;
}
.empty-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
.empty-cart-text {
  max-width: 260px;
  text-align: center;
  font-size: 14px;
}

.empty-logo {
}

.drawer-header {
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255);
  height: 48px;
  margin-top: -1px;
  border-top: 1px solid rgb(243, 243, 247);
  border-bottom: 1px solid rgb(243, 243, 247);
  position: relative;
  z-index: 2;
  p {
    font-weight: 700;
    margin-left: 10px;
  }

  @media (min-width: 992px) {
    display: none;
  }
}

.drawer-burger {
  margin-left: auto;
  width: 48px;
  cursor: pointer;
}

.drawer-back {
  padding: 0 16px;
  border-right: 1px solid rgb(243, 243, 247);
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.empty-logo {
  margin-left: 16px;
}

.cart__title {
  margin-top: 24px;
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.cart-item {
  position: relative;
  padding: 12px 16px;
  background: rgb(255, 255, 255);
  margin-bottom: 8px;
}
.cart-item__img {
  width: 64px;
  height: 64px;
  margin-right: 16px;
}
.cart-item__btn {
  position: absolute;
  top: 16px;
  right: 24px;
  width: 16px;
  height: 16px;
}
.cart-item__content {
  display: flex;
  border-bottom: 1px solid rgb(226, 226, 233);
  padding-bottom: 12px;
}
.cart-item__info {
}
.cart-item__title {
  font-weight: 500;
  margin-bottom: 5px;
}
.cart-item__desc {
  font-size: 12px;
  line-height: 16px;
  color: rgb(92, 99, 112);
  max-width: 210px;
}
.cart-item__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}
.cart-item__price {
}
