.counter {
  position: relative;
  width: 96px;
  height: 32px;
  display: flex;
  align-items: center;
  color: rgb(92, 99, 112);
  font-weight: 500;
  background-color: rgb(243, 243, 247);
  border-radius: 90px;
  justify-content: space-between;
  padding: 7px 8px;
}

.counter-amount {
  opacity: 0.5;
}

.counter__button {
  padding: 0px 8px;
  opacity: 0.5;
}
