.product-card__button {
  height: 40px;
  min-width: 120px;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 24px;
  background-color: rgb(255, 240, 230);
  color: rgb(209, 87, 0);
  border-radius: 90px;
  text-align: center;
  font-weight: 500;
  transition-property: background-color, color;
  transition-duration: 200ms;
  transition-timing-function: ease-out;

  &:hover {
    background-color: rgb(255, 210, 179);
  }

  @media (max-width: 870px) {
    height: 32px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 96px;
    font-size: 14px;
    line-height: 16px;
  }
}

.product-card__title {
  margin: 8px 0px;
  color: var(--main-color);
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  @media (max-width: 869px) {
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
  }
}

.product-card__description {
  font-size: 14px;
  line-height: 20px;
  color: rgb(92, 99, 112);
  font-weight: 400;
  margin-bottom: 30px;

  @media (max-width: 869px) {
    margin-bottom: 12px;
    font-size: 12px;
  }
}

.product-card__price {
  font-size: 20px;
  color: var(--main-color);
  font-weight: 500;
  line-height: 22px;

  @media (max-width: 870px) {
    display: none;
  }
}

.product-card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-card__img {
  img {
    transition: transform 0.2s ease-out;
  }

  &:hover img {
    transform: translateY(3px);
  }

  @media (max-width: 869px) {
    width: 130px;
    height: 130px;
  }
}

.product-card {
  @media (max-width: 869px) {
    display: flex;
    column-gap: 5px;
  }
}

.product-card__img img {
  max-width: 100%;

  @media (max-width: 869px) {
    min-width: 130px;
  }

  @media (max-width: 375px) {
    min-width: 100px;
  }
}
