.modal {
  position: fixed;
  inset: 0;
  display: none;
  background: rgba(0, 0, 0, 0.64);
  z-index: 1000;

  &.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.modal__body {
  position: relative;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  max-width: 925px;
  height: 610px;

  @media (max-width: 1040px) {
    min-width: 100%;
    min-height: 100%;
    border-radius: 0;
  }
}

.modal__icon {
  cursor: pointer;
  position: absolute;
  top: 13px;
  right: -40px;

  svg {
    transition: transform 0.1s ease-in-out 0s;

    &:hover {
      transform: scale(1.11);
    }
  }

  svg path {
    fill: #fff;
  }
}

.modal__wrap {
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  height: 100%;

  &::-webkit-scrollbar {
    background-color: rgba(57, 57, 57, 0.1);
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(57, 57, 57, 0.2);
    border-radius: 4px;
  }

  @media (max-width: 1040px) {
    overflow-y: auto;
    flex-direction: column;
  }
}

.modal__left {
  position: relative;
  width: 530px;

  @media (max-width: 1040px) {
    width: auto;
    max-width: 530px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin: 0 auto;
    height: 480px;
  }
  @media (max-width: 375px) {
    height: 350px;
  }
}

.modal__right {
  width: 395px;
  background: rgb(252, 252, 252);

  @media (max-width: 1040px) {
    width: 100%;
  }
}

.modal__radius-m {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 382px;
  height: 382px;
  @media (max-width: 1040px) {
    svg {
      display: none;
    }
  }
}

.modal__radius-l {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 450px;

  @media (max-width: 1040px) {
    svg {
      display: none;
    }
  }
}

.modal__img {
  width: 410px;
  height: 410px;
  position: absolute;
  top: 51.5%;
  left: 51.8%;
  transform: translate(-50%, -50%);
  transition: all 0.2s linear;

  img {
    max-width: 100%;
  }

  @media (max-width: 1040px) {
    width: 100%;
    height: 100%;
    position: static;
    transform: none;
  }
}

.modal-button-close {
  display: none;
  @media (max-width: 1040px) {
    display: inline-block;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 12px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    position: fixed;
    top: 16px;
    left: 16px;
    padding: 8px;
    cursor: pointer;
    z-index: 11;
  }
}

.modal__img-size0 {
  width: 300px;
  height: 300px;
  top: 51%;
  left: 52%;
  @media (max-width: 375px) {
    width: 200px;
    height: 200px;
  }
}

.modal__img-size1 {
  width: 410px;
  height: 410px;

  @media (max-width: 375px) {
    width: 250px;
    height: 250px;
  }
}

.modal__img-size2 {
  width: 480px;
  height: 480px;
  top: 52%;
  left: 52.5%;

  @media (max-width: 375px) {
    width: 300px;
    height: 300px;
  }
}

.modal-product {
  padding: 30px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-product__head {
  display: flex;
  justify-content: space-between;
}

.modal-product__title {
  font-size: 24px;
  line-height: 28px;
}

.modal-product__info {
  color: rgb(92, 99, 112);
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
}

.modal-product__desc {
  max-width: 300px;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
}

.modal-product__type {
  height: 32px;
  background-color: rgb(243, 243, 247);
  border-radius: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;

  &::before {
    transition: transform 200ms ease-out;

    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 33%;
    height: 28px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(6, 5, 50, 0.19) 0px 6px 20px;
    border-radius: 90px;
  }

  &.modal-product__size-0::before {
    transform: translateX(0%);
  }

  &.modal-product__size-1::before {
    transform: translateX(100%);
  }

  &.modal-product__size-2::before {
    transform: translateX(200%);
  }

  &.modal-product__type-0::before {
    width: 49.5%;
    transform: translateX(0%);
  }

  &.modal-product__type-1::before {
    width: 49.5%;
    transform: translateX(100%);
  }

  button {
    font-size: 13px;
    position: relative;
    background: none;
    border: none;
    width: 33.3333%;
    cursor: pointer;
  }

  button[data-type='thin'] {
    width: 50%;
  }
  button[data-type='trad'] {
    width: 50%;
  }
}

.modal-product__types.modal-product__type {
  justify-content: space-between;

  &::before {
    width: 49.5%;
  }

  button {
    width: 50%;
  }

  &.trad::before {
    transform: translateX(0%);
  }

  &.thin::before {
    transform: translateX(100%);
  }
}

.modal-product__slide {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 33.3333%;
  transform: translateX(0%);
  padding: 2px;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgb(216, 52, 52);
    border-radius: 90px;
    box-shadow: rgba(6, 5, 50, 0.19) 0px 6px 20px;
  }
}

.modal-product__sizes {
  margin-bottom: 8px;
}

.modal-product__types {
  margin-bottom: 30px;
}

.modal-product__inner {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 0 30px;
  margin-bottom: 25px;
  padding-bottom: 25px;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(57, 57, 57, 0.2);
    border-radius: 4px;
  }
}

.product-ingredients__title {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 12px;
}

.product-ingredients__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;

  @media (max-width: 375px) {
    grid-template-columns: 1fr 1fr;
  }
}

.ingredients-card {
  cursor: pointer;
  position: relative;
  box-shadow: rgba(6, 5, 50, 0.12) 0px 4px 20px;
  padding: 8px;
  background: rgb(255, 255, 255);
  border: 1px solid transparent;
  border-radius: 12px;
  transition: box-shadow 150ms ease-out 0s, border;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.active {
    border: 1px solid rgb(255, 105, 0);
    svg {
      transition: opacity 150ms ease-out 0s;
      opacity: 1;
    }
  }

  svg {
    position: absolute;
    top: 4px;
    right: 4px;
    opacity: 0;
  }

  @media (max-width: 1040px) {
    width: 100%;
  }
}

.ingredients-card__img {
  width: 88px;
}

.ingredients-card__title {
  flex: 1 1 auto;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 4px;
}

.ingredients-card__price {
  font-weight: 500;
}

.modal-product__button {
  height: 48px;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 24px;
  background-color: rgb(255, 105, 0);
  color: rgb(255, 255, 255);
  border-radius: 90px;
  width: 85%;
  margin-right: 30px;
  margin-left: 30px;

  @media (max-width: 1040px) {
    margin-right: 15px;
    margin-left: 15px;
    width: 95%;
    position: fixed;
    bottom: 10px;
    left: 0;
  }

  @media (max-width: 375px) {
    margin: 0;
    width: 100%;
  }
}

.modal-product__btn:disabled {
  cursor: not-allowed;
}
