.popular__container {
  position: relative;
  .swiper {
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px;
    overflow: visible;
  }

  &::before {
    content: '';
    position: absolute;
    right: 0px;
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgb(255, 255, 255) 100%
    );
    top: 21px;
    right: -200px;
    width: 34.5%;
    height: 111px;
    padding: 9px 53.3333px 20px;
    cursor: pointer;
    z-index: 2;
  }
  &::after {
    content: '';
    position: absolute;
    right: 0px;
    background-image: linear-gradient(
      -90deg,
      rgba(255, 255, 255, 0) 0%,
      rgb(255, 255, 255) 100%
    );
    top: 21px;
    left: -325px;
    width: 34.5%;
    height: 111px;
    padding: 9px 53.3333px 20px;
    cursor: pointer;
    z-index: 1;
  }
}

.swiper-slide .popular__slide-item img {
  width: 80px;
  height: 80px;
}

.popular__title {
  font-weight: 500;
  font-size: 20px;
  margin-top: 25px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;

  @media (min-width: 768px) {
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 15px;
  }
}

.popular .swiper-slide {
  width: 260px !important;
}

.popular__slide-item {
  background: rgb(255, 255, 255);
  transition: box-shadow 150ms ease-out 0s;
  box-shadow: var(--box-shadow-card);
  border-radius: 12px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
  padding: 16px;
  transition: box-shadow 0.2s ease-out;

  &:hover {
    box-shadow: rgba(6, 5, 50, 0.15) 0px 0px 12px -4px;
  }

  img {
    width: 80px;
    height: 80px;
  }
}

.popular__slide-title {
  margin-bottom: 5px;
}

.popular__slide-title,
.popular__slide-price {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.popular .slider-button {
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
  width: 30px;
  height: 30px;
  background-color: #000;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.popular .popular__container:hover .slider-button:not(.swiper-button-disabled) {
  opacity: 1;
}

.popular .slider-navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 20px);
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 2;

  @media (min-width: 1365px) {
    width: calc(100% + 40px);
  }
}

.slider-button.slider-prev.swiper-button-disabled {
  opacity: 0;
}

.slider-button.slider-next.swiper-button-disabled {
  opacity: 0;
}
