:root {
  --main-color: #000;
  --color-text: rgb(92, 99, 112);
  --color-primary: rgb(255, 105, 0);
  --color-secondary: rgb(255, 240, 230);
  --color-gray: rgb(243, 243, 247);

  --box-shadow-header: rgba(6, 5, 50, 0.1) 0px 4px 30px;
  --box-shadow-card: rgba(6, 5, 50, 0.15) 0px 4px 22px -6px;
}