.stories__container {
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background: #fff;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stories__slide-item {
  border: 3px solid #ff6900;
  border-radius: 20px;
  padding: 3px;

  img {
    border-radius: 15px;
  }
}

.slider-button {
  color: #ff6900;
  cursor: pointer;
  font-size: 28px;
  font-weight: 700;
  padding: 5px;
}

.stories .slider-navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 40px);
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  z-index: 2;

  @media (min-width: 1365px) {
    left: -20px;
    width: calc(100% + 40px);
  }
}

// .slider-navigation {
//   display: flex;
//   justify-content: space-between;
//   width: calc(100% - 20px);
//   position: absolute;
//   top: 50%;
//   left: -20px;
//   transform: translateY(-50%);
//   z-index: 10;
// }

.slider-button.slider-prev.swiper-button-disabled {
  opacity: 0;
}
.slider-button.slider-next.swiper-button-disabled {
  opacity: 0;
}
